---
import '../styles/index.css';

import ProfilePicture from '../assets/pfp.png';

import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import ImageGlow from '../components/ImageGlow.astro';
import Icon from '../components/Icon.astro';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';
import { name, openGraph } from 'spectre:globals';

const [about, workExperience, educationExperience, quickInfo, socials, skills] = await Promise.all([
	getEntry('other', 'about'),
	getCollection('workExperience'),
	getCollection('educationExperience'),
	getCollection('quickInfo'),
	getCollection('socials'),
	getCollection('skills')
]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: About } = await render(about!);
---

<Layout
	title={openGraph.home.title || name}
	description={openGraph.home.description}
	pagefindIgnore
>
	<div class="layout-grid-left" slot="left">
		<Card class="flex-col-card">
			<ImageGlow quality={100} width={80} height={80} src={ProfilePicture} alt="Louis looking out of a window" loading='eager' />
			<h2>{name}</h2>
			<ul class="overview-list">
				{quickInfo.map((info) => (
					<li>
						<Icon type={info.data.icon.type} name={info.data.icon.name as any} width={24} height={24} class='glow-icon' />
						<span>{info.data.text}</span>
					</li>
				))}
			</ul>
		</Card>
		<Card>
			<h3 class="no-mt">Socials</h3>
			<ul class="overview-list">
				{socials.map((item) => (
					<li>
						<a href={item.data.link} class="socials-link">
							<Icon type={item.data.icon.type} name={item.data.icon.name as any} width={24} height={24} class='glow-icon' />
							<span>{item.data.text}</span>
						</a>
					</li>
				))}
			</ul>
		</Card>
		<Card>
			<h3 class="no-mt">Skills</h3>
			<ul class="skills-list">
				{skills.map((item) => (
					<li>
            <div>
              <Icon type={item.data.icon.type} name={item.data.icon.name as any} width={24} height={24} class='glow-icon' />
              <span>{item.data.category}</span>
            </div>
            <div>{item.data.skills}</div>
					</li>
				))}
			</ul>
		</Card>
	</div>
	<div class="layout-grid-right" slot="right">
		<Card>
			<div class="header-container">
				<Icon type='lucide' name="user" width={24} height={24} class='glow-icon' />
				<h2>About me</h2>
			</div>
			<div class="prose">
				<About />
			</div>
		</Card>
		<Card>
			<div class="header-container">
				<Icon type='lucide' name="briefcase-business" width={24} height={24} class='glow-icon' />
				<h2>Work Experience</h2>
			</div>
			<div class="work-experience-container">
				{workExperience.reverse().map((entry) => (
					<div class="work-experience-entry">
						<h3 class="work-experience-company">{entry.data.company}</h3>
						<div class="location-container">
              {entry.data.duration.includes("-") ? (
                <Icon type='lucide' name="calendar-range" width={18} height={18} class='glow-icon' />
              ) : (
                <Icon type='lucide' name="calendar" width={18} height={18} class='glow-icon' />
              )}
              <span class="work-experience-duration">{entry.data.duration}</span>
              <span/>
              <Icon type='lucide' name="map-pin" width={18} height={18} class='glow-icon' />
              <span class="work-experience-duration">{entry.data.location}</span>
            </div>
						<p class="work-experience-desc">{entry.data.description}</p>
					</div>
				))}
			</div>
		</Card>
		<Card>
			<div class="header-container">
				<Icon type='lucide' name="school" width={24} height={24} class='glow-icon' />
				<h2>Education</h2>
			</div>
			<div class="work-experience-container">
				{educationExperience.reverse().map((entry) => (
					<div class="work-experience-entry">
						<h3 class="work-experience-company">{entry.data.company}</h3>
						<div class="location-container">
              {entry.data.duration.includes("-") ? (
                <Icon type='lucide' name="calendar-range" width={18} height={18} class='glow-icon' />
              ) : (
                <Icon type='lucide' name="calendar" width={18} height={18} class='glow-icon' />
              )}
              <span class="work-experience-duration">{entry.data.duration}</span>
              <span/>
              <Icon type='lucide' name="map-pin" width={18} height={18} class='glow-icon' />
              <span class="work-experience-duration">{entry.data.location}</span>
            </div>
						<p class="work-experience-desc">{entry.data.description}</p>
					</div>
				))}
			</div>
		</Card>
    <Card>
			<div class="header-container">
				<Icon type='lucide' name="file-user" width={24} height={24} class='glow-icon' />
				<h2>Curriculum Vitae PDFs</h2>
			</div>
			<div class="prose">
				<p>If you want to explore my experience offline, you are free to download these PDFs!</p>
        <ul>
          <li><a href="/resume.pdf">Minimal distractions, just the facts — lightweight & easy to skim</a></li>
          <li><a href="/curriculum-vitae.pdf">Bold aesthetics, creative and moody — for a visual deep dive</a></li>
        </ul>
			</div>
		</Card>
	</div>
</Layout>
